.calendarPageContainer {
  height: calc(100vh - 70px);
  padding: var(--mantine-spacing-md);
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.content {
  flex-grow: 1;
  overflow: hidden;
  min-height: 0;
  height: 100%;
}

.sideBar {
  flex-shrink: 0;
  width: 280px;
  height: 100%;
}

.sideBarContent {
  height: 100%;
}

.controlItem {
  width: 100%;
}

@media (max-width: 768px) {
  .calendarPageContainer {
    flex-direction: column;
    height: auto;
    overflow: auto;
  }
  
  .sideBar {
    width: 100%;
    height: auto;
  }
  
  .content {
    height: auto;
  }
}