# Base URL for the backend API
VITE_API_BASE_URL=http://localhost:5000/

# Discord webhook URL for logging (optional)
VITE_DISCORD_WEBHOOK_URL=

# Azure Translator settings
AZURE_TRANSLATOR_KEY=
AZURE_TRANSLATOR_REGION=
AZURE_TRANSLATOR_ENDPOINT=https://scheduler-translator.cognitiveservices.azure.com/
