.card {
    max-width: 500px;
    margin: var(--mantine-spacing-xs) 0;
}

.titleSection {
    background: var(--mantine-primary-color-filled);
}

@media (max-width: 768px) {
    .card {
        max-width: 100%;
    }
}
